<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <div>
    <input type="file">
  </div>
<script>
  fetch('http://localhost:8080/samples/download', {
    method: "POST",
    headers: {
      'Content-Type': 'application/json',
    },
    // body: JSON.stringify({}),
  })
  .then(response => response.blob())
  .then(blob => {
    const url = window.URL.createObjectURL(blob)
    const aTag = document.createElement('a')
    aTag.href = url
    aTag.download = 'hello.xlsx'
    document.body.appendChild(aTag)
  })
</script>
</body>
</html>